$gutter: 20px;
//
* {
    box-sizing: border-box;
}

[type=search] {
    -webkit-appearance: searchfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: searchfield-cancel-button;
}

.w3-check {
    top: 3px;
}

.w3-input {
    padding: 5px;
}

//
body,
html {
    height: 100%;
}

.apache-href {
    text-indent: 2em;
}

.color-red {
    color: red;
}

.baseline-flex-row {
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.body {
    flex: 1;
    overflow-y: auto;
}

.center-flex {
    align-items: center;
    display: flex;
}

.col {
    margin-right: $gutter;
    &:last-of-type {
        margin-right: 0;
    }
}

.confirm-content {
    margin: auto;
    max-width: 300px;
}

.dialog {
    &.hidden {
        display: none;
    }
    &.showing {
        display: block;
    }
}

.error {
    background-color: lightpink;
}

.first-month {
    >h6 {
        margin: 5px 0;
    }
    >select {
        padding: 5px 0;
    }
}

.license-content {
    margin: auto;
    max-width: 500px;
}

.main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.start-flex-column {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stretch-flex {
    align-items: stretch;
    display: flex;
}

.text-align-right {
    text-align: right !important;
}

//
.center-flex-column {
    @extend .center-flex;
    flex-direction: column;
}

.center-flex-row {
    @extend .center-flex;
    flex-direction: row;
}

.footer {
    @extend .center-flex-row;
    justify-content: space-between;
}

.header {
    @extend .stretch-flex-column;
    justify-content: space-between;
    >div {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.highlight {
    background-color: pink !important;
}

.stretch-flex-column {
    @extend .stretch-flex;
    flex-direction: column;
}

//
#actual-balance-col {
    width: 10em;
}

#amount {
    max-width: 9em;
}

#bank-balance-col {
    width: 10em;
}

#body {
    position: relative;
    overflow-x: hidden;
}

#body th {
    text-align: left;
    white-space: nowrap;
    color: white;
    background-color: white;
}

#body th div {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-left: calc(-1rem - 1px);
    color: black;
    background-color: white;
}

#body thead div {
    top: 0;
}

#check-number {
    max-width: 6em;
}

#check-number-col {
    width: 6em;
}

#container {
    max-height: 100%;
    overflow-y: scroll;
}

#date-col {
    width: 5em;
}

#deposit-col {
    width: 7em;
}

#delete-col {
    width: 5em;
}

#edit-col {
    width: 5em;
}

#first-date {
    max-width: 11em;
}

#reconcile-col {
    width: 5em;
}

#transaction-date {
    max-width: 11em;
}

#withdrawal-col {
    width: 7em;
}

table {
    overflow: hidden;
}