.w3-theme-l5 {
    color: #000 !important;
    background-color: #fbf3f0 !important
}

.w3-theme-l4 {
    color: #000 !important;
    background-color: #f3d7cb !important
}

.w3-theme-l3 {
    color: #000 !important;
    background-color: #e8ae98 !important
}

.w3-theme-l2 {
    color: #fff !important;
    background-color: #dc8664 !important
}

.w3-theme-l1 {
    color: #fff !important;
    background-color: #d05e31 !important
}

.w3-theme-d1 {
    color: #fff !important;
    background-color: #8e3f20 !important
}

.w3-theme-d2 {
    color: #fff !important;
    background-color: #7e381d !important
}

.w3-theme-d3 {
    color: #fff !important;
    background-color: #6f3119 !important
}

.w3-theme-d4 {
    color: #fff !important;
    background-color: #5f2a16 !important
}

.w3-theme-d5 {
    color: #fff !important;
    background-color: #4f2312 !important
}

.w3-theme-light {
    color: #000 !important;
    background-color: #fbf3f0 !important
}

.w3-theme-dark {
    color: #fff !important;
    background-color: #4f2312 !important
}

.w3-theme-action {
    color: #fff !important;
    background-color: #4f2312 !important
}

.w3-theme {
    color: #fff !important;
    background-color: #9e4624 !important
}

.w3-text-theme {
    color: #9e4624 !important
}

.w3-border-theme {
    border-color: #9e4624 !important
}

.w3-hover-theme:hover {
    color: #fff !important;
    background-color: #9e4624 !important
}

.w3-hover-text-theme {
    color: #9e4624 !important
}

.w3-hover-border-theme:hover {
    border-color: #9e4624 !important
}